body{
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(112, 69, 69), rgb(255, 132, 0));
    background-image: url(images/mshale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    margin-top: 60px;
    margin-left: 60px;
    border-radius: 10px;
    padding:10px 20px;
    background:linear-gradient(45deg,black,brown);
    color: rgb(251, 255, 247);
    box-shadow: 0px 0px 25px brown;
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function:ease ;
    transition-delay: 0.1s;

}
button:hover{
    transform:scale(120%);
    background:linear-gradient(45deg,black,rgb(246, 8, 8));
}
.one{
    background-color: rgb(189, 12, 12);
    height:100px;
    width :100px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px red;
    animation-name:frank ;
    animation-duration:800ms ;
    animation-iteration-count:infinite ;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-direction:alternate;
    animation-fill-mode:forwards;
    animation-delay: 100ms;
}

@keyframes frank{
    0%{
        transform: translate(00px) rotate(360deg);
    }
    100%{
        transform: translatex(500px) rotate(45deg) scale(150%);
        background-color: rgb(90, 234, 7);
    }
    
}